# dependencies
node_modules/

# next.js
.next/
out/

# production
build/
dist/

# editor
.vscode/*
!.vscode/extensions.json

# misc
.DS_Store
*.log
.env*

backend/.venv/
backend/api_demo.py
backend/first_json.py
backend/handmade.py
*.pyc

.vscode